/* .FZNavbar {
    width: 100%;
    height: 20px;
    background-color: olive;
} */

.FZnavTitle {
    margin-left: 4rem;
    font-family: 'Rubik Pixels', sans-serif;
    
}
.FZNavbar span{
    font-size: 2rem;
    margin-left: 1rem;
}
.FZNavbar span:nth-of-type(even){
    color:rgb(255, 173, 66);
}
.FZNavbar span:nth-of-type(odd){
    color: rgb(251, 113, 78);
}

.FZNavbar img {
    margin-left: 3%;
    height: 50px;
    width: 90px;
}
.FZNavbar {
    box-sizing: border-box;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0);
}

.FZnavLinks a {
    position: relative;
    font-size: 18px;
    color: rgb(217, 134, 130);
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;
}
.FZnavLinks  ::before {
    content: '';
    position: absolute;
    display: flex;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    /* background: #c06622a6; */
    background: #3b9c12a6;
    transition: .3s;
}
.FZnavLinks  :hover::before {
    width: 100%;
}