
.htmlScreen iframe {
    width: 974px;
    height: 970px;
    border: none;
    border-radius: 20px;
}

.lglinks {
    width: 10vw;
    height: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}