
/* .team{
    margin:auto;
    width: 88vw;
} */
.theTeam {
    width: 99%;
    padding-bottom: 4rem;
    background: #efb76f;
}
.titles {
    display: flex;
    justify-content: space-evenly;
    text-shadow: 1px 1px 2px #fff ;
}
h2{
    font-size: 40px;
}
h4 {
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto + 1%;
    background: #fdd9ab57;
    border-radius: 20px;
    padding: 4px;
}
.about {
    background: #b380333e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
}
/* .image {
    opacity: 0;
    transform: translateX(-10vw);
    transition: all 1s ease-in-out;
} */
.image img {
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    margin-bottom: 40px;
    box-shadow: 1px 5px 30px 10px rgba(158, 76, 0, 0.553);
}
.team{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* align-content: space-around; */
}
.team-member {
    
    /* flex-basis: 40%; */
    padding: 40px 50px;

    /* background: #efb76f; */
    color: #fff;
    
    /* opacity: 1;
    transform: translateX(0vw);
    transition: all 1s ease-in-out;
    */
}
.team-member p {
    padding: 10px 40px;
}
/* .push-right{
    opacity: 1;
    transform: translateX(0);
}
.push-left{
    opacity: 1;
    transform: translateX(0);
} */

.meetTheOwners {
    /* margin-top: 2rem; */
    /* margin-top: 4rem; */
    padding-bottom: 1rem;
    padding-top: 3rem;
    background: #efb76f;
    text-shadow: 1px 1px 2px #fff ;
    /* display: flex;
    justify-content: center; */
    text-align: center;
    color: #fff;
}