.trustedP {
    height: 8rem;
    
    display: flex;
    justify-content: center;
    align-items: baseline;

    background-color: white;
}

.trustedP img {
    height: 100px;
    width: 100px;
    margin-left: 5vw;
    margin-top: 1rem;
    /* padding-bottom: 4px; */
}

.trustedImg {
    display: flex;
    justify-items: space-evenly;
}

@media (max-width: 768px) {
    .trustedP {
        display: none;
    }
  }