.overview_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vw;
    margin-top: 10vw;
 
   
}
.overview_title h2 {
    font-size: 50px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}
.overview_title{
    -webkit-text-stroke: 1px #000;
    color: transparent;
    background-image: linear-gradient(#f9daa4,#cda547);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -85vw 0;
    animation: backcolor 6s linear infinite alternate;
}
@keyframes backcolor {
    100%{
        background-position: 0 0;
    }
}